In [1]:
import pandas as pd
import numpy as np

Load data using pandas

In [35]:
data_obj = lambda x : pd.DataFrame(x)
books = pd.read_csv('data/books.csv')
ratings = pd.read_csv('data/ratings.csv')
users = pd.read_csv('data/users.csv')

Peak through the data

In [30]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

books_rating table contains ratings of the books whose information is not available
in books table. First get the list of ISBN and remove entries whose books details
are not present

In [31]:
#check shape of each dataframe
print('Books : ',books.shape)
print('Users : ',users.shape)
print('Book Ratings : ',ratings.shape)

Books :  (266736, 8)
Users :  (70886, 5)
Book Ratings :  (113606, 9)

Get all ISBN from books table

In [26]:
isbn = books.ISBN.unique()
isbn

array(['0195153448', '0002005018', '0060973129', ..., '006008667X',
       '0192126040', '0767409752'], dtype=object)

Take the books ratings

In [27]:
ratings = ratings[ratings['ISBN'].isin(isbn)]
ratings

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating, user_num, books_num, picture_url, Book-Title, product_id, vid]
Index: []

Check the size of book_ratings dataframe

In [28]:
print('Books Ratings : ',ratings.shape)

Books Ratings :  (0, 9)

Group by ISBN

In [36]:
isbn_count_list = ratings.groupby('ISBN')['Book-Rating'].count()
isbn_count_frame = data_obj(isbn_count_list)

In [45]:
ratings.sort_values('Book-Rating',ascending=False).head(15)

,User-ID,ISBN,Book-Rating,user_num,books_num,picture_url,Book-Title,product_id,vid
76505,208907,394828054,10,5,31,http://images.amazon.com/images/P/0394828054.0...,The Chocolate War,4135,9029
49968,170499,1880418568,10,22,12,http://images.amazon.com/images/P/1880418568.0...,"Wolves of the Calla (The Dark Tower, Book 5)",11837,7404
20161,163326,449911446,10,32,18,http://images.amazon.com/images/P/0449911446.0...,Before Women Had Wings (Ballantine Reader's Ci...,6096,7076
89526,241548,1558746625,10,11,57,http://images.amazon.com/images/P/1558746625.0...,A 6th Bowl of Chicken Soup for the Soul (Chick...,11448,10420
20159,64346,395083567,10,20,12,http://images.amazon.com/images/P/0395083567.0...,My Antonia,4150,2831
20156,141719,395083567,10,20,18,http://images.amazon.com/images/P/0395083567.0...,My Antonia,4150,6192
49824,251843,446519804,10,15,170,http://images.amazon.com/images/P/0446519804.0...,The Alibi,5561,10921
89522,268110,393319504,10,8,125,http://images.amazon.com/images/P/0393319504.0...,Voyage of the Narwhal: A Novel,4037,11549
49828,203401,446519804,10,15,32,http://images.amazon.com/images/P/0446519804.0...,The Alibi,5561,8745
20152,204457,395083567,10,20,58,http://images.amazon.com/images/P/0395083567.0...,My Antonia,4150,8795
103679,152770,385335407,10,12,9,http://images.amazon.com/images/P/0385335407.0...,The Kiss,3826,6653
20150,7915,395083567,10,20,47,http://images.amazon.com/images/P/0395083567.0...,My Antonia,4150,304
20149,55927,395083567,10,20,61,http://images.amazon.com/images/P/0395083567.0...,My Antonia,4150,2448
49830,69232,446519804,10,15,28,http://images.amazon.com/images/P/0446519804.0...,The Alibi,5561,3044
89517,115003,393319504,10,8,178,http://images.amazon.com/images/P/0393319504.0...,Voyage of the Narwhal: A Novel,4037,5020